@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+KR:wght@500;700&display=swap');
@font-face {
    font-family:'jt-font';
    font-style: normal;
    font-display: block;
    font-weight: normal;
    src: url(../fonts/jt-font/fonts/jt-font.eot);
    src: local("?"),
         url(../fonts/jt-font/fonts/jt-font.woff) format('woff');
}