@media screen and (max-width: 1024px) and (min-width: 768px) {
	
	
	/*disply none list*/
	.right-text {display: none;}

	/*header*/
	header {
		width: 100vw;
		padding: 0 5%;
		box-sizing: border-box;
		
	}
	header h1 a {
		left: 53%;
	}
	header .tnb {
		position: absolute;
		bottom: 0;
		right: 5%;
	}
	header .tnb a {
		display: block;
		margin: 0;
		opacity: 0;
		transition: all .3s;
	}
	header .tnb.on a {
		opacity: 1;
	}
	/*gnb-area*/
	#gnb-area {
		overflow: hidden;
	}
	#gnb-area:before {
		left: 100%;
	}
	#gnb-area .gnb {padding: 50% 10%;}
	#gnb-area .gnb .sub-list > li {
	}
	#gnb-area .gnb > li {
		float: inherit;
	}
	#gnb-area footer {
		display: none
	}
	/*main-visual*/
	#main-visual {
		height: 100vh;
	}
	#main-visual:before {
		width: 100%;
		height: 100%;
	}
	#main-visual .banner-wrap {
		right: 0; bottom: 30%
	}
	#main-visual .banner-wrap .btn-banner {
		display: none;
	}
	#main-visual .banner-ex {
		position: absolute;
		width: 500px;
		left: 5%; top: 75%;
	}
	#main-visual .banner-ex .banner-ex-text-all .banner-ex-text  {margin-top: 20px;}
	#main-visual .banner-ex .banner-ex-text-all .banner-ex-text strong {font-size: 40px;}
    
    /*service*/
    #service {position: relative; overflow: hidden; box-sizing: border-box; padding: 0 30px 200px; }
    #sevice .service-list-swiper {}
    #service .service-list strong {font-size: 20px;}
    #service .service-list .text {font-size: 16px;}
    #service .service-list {width: 100%; height: 100%;}
    #service .service-list .service-box { justify-content: center; align-items: center; height: 560px; margin-bottom: 50px}
    #service .service-list .service-box:nth-child(1) {margin-top: 0;}
    #service .service-list .service-box:nth-child(2) {margin-top: 0;}
    #service .service-list .service-box:nth-child(3) {margin-top: 0;}
    #service .service-list .service-box:nth-child(4) {margin-top: 0px;}
    #service .service-list .service-box:nth-child(5) {margin-top: 0;}
    #service .service-list .service-box:nth-child(6) {margin-top: 0;}
    #service .service-list .service-box:nth-child(3n) {margin-right: 0px;}
    
    /*archive*/
    #archive {overflow: hidden;}
    #archive .archive-main-visual {width: 100vw; height: auto;}
    #archive .archive-main-visual img{width: 100%;}
    #archive strong {font-size: 65px; margin-left: 16px;}
    #archive .archive-main-visual .text-area {left: 5%;}
    #archive .archive-main-visual .text-area b {font-size: 36px;}
    
    /*story*/
    
    #story ul li:first-child {margin-top: 0;}
    #story ul li {float: inherit; border-right: 0; margin-top: 90px; width: 100%;}
    
    /*miele*/
    #miele {margin-bottom: 200px; overflow: hidden;}
		#miele:before {content: ''; width: 0;}
    
    /*resister*/
    #register {margin-bottom: 200px}
    #register:before {
        width: 100%;
        height: 30%;
    }
    #register .register-text-area h3 {text-align: center; font-size: 34px;}
    #register .register-text-area h2 {text-align: center;}
    #register .register-text-area {
        position: absolute;
        float: inherit;
        width: 100%;
        padding: 0;
        bottom: 0;
        text-align: center;
        margin: 0;
        background: #eee;
        padding: 50px 0;
    }
    #register figure img{
        width: 100%;
        text-align: center;
    }
    
}